.project__header{
    grid-column: 1/-1;
  }
  .project__content{
      align-self: center;
      
  }
  
  .project__pic{
    max-width: 100%;
    width: 48rem;
    height: 42.7rem;
  }
  
  .project__description{
    line-height: 2.5rem;
  
  }
  
  .my__profile__img{
    max-width: 100%;
    border: 0.2rem solid var(--color-black);
    }
  
  .project1__link {
    margin-block-start: 5rem;
  }